In [ ]:
import pandas as pd
import os

In [ ]:
pwd = os.getcwd()
pwd

In [ ]:
dataset = pd.read_excel(pwd + "\\Data-survey_monkey_edited.xlsx", sheet_name="Edited_data")

In [ ]:
datasetModified = dataset.copy()
datasetModified.columns

In [ ]:
datasetModified1=datasetModified.copy()
datasetModified1

In [ ]:
datasetModified1.drop(datasetModified1.columns[[1,2,3,4,5,6]], axis=1,inplace=True)
datasetModified1

In [ ]:
id_vars = list(datasetModified1)[0:8]
value_vars = list(datasetModified1)[8:]

In [ ]:
dataMelt = datasetModified1.melt(id_vars=id_vars, value_vars=value_vars,var_name="Question + Subquestion",value_name="Answer")
dataMelt

In [ ]:
questions = pd.read_excel(pwd + "\\Data-survey_monkey_edited.xlsx", sheet_name="questions")

In [ ]:
questions

In [ ]:
questionsmod=questions.copy()
questionsmod =questions.drop(columns=["Raw_Question","Subquestion","Raw_Sub-Question"])
questionsmod

In [ ]:
questionsmod

In [ ]:
merge1 = pd.merge(left=dataMelt, right=questionsmod, how="left" , left_on="Question + Subquestion" , right_on="Question + Subquestion")
merge1
respondents.rename(columns={"Respondents ID":"Respondents"},inplace=True)

In [104]:
respondents = merge1[merge1["Answer"].notna()]
respondents1 = respondents.groupby("Question")["Respondent ID"].nunique().reset_index()
merge2 = pd.merge(left=respondents, right=respondents1, how="left" , left_on="Question" , right_on="Question")
merge2

,Respondent ID_x,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,Which generation are you apart of? - Response,Please select the gender in which you identify. - Response,Which duration range best aligns with your tenure at your company? - Response,Which of the following best describes your employment type? - Response,Question + Subquestion,Answer,Question,Respondent ID_y
0,2658722536,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Question 1 - Response,Answer 4,Question 1,119
1,4044163394,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 5,Question 1,119
2,5535865599,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1 - Response,Answer 1,Question 1,119
3,3399511781,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 8,Question 1,119
4,9860597462,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 1 - Response,Answer 8,Question 1,119
...,...,...,...,...,...,...,...,...,...,...,...,...
9659,9735550076,People,NaN,Staff,Generation X (born between 1965-1980),Male,5-10 years,Full time Employee,Question 30 - Response 3,Answer 5,Question 30,182
9660,7325851635,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Prefer not to answer,3-5 years,Full time Employee,Question 30 - Response 3,Answer 5,Question 30,182
9661,3370365802,Port Security & Emergency Operations,NaN,Staff,Generation X (born between 1965-1980),Female,0-2 years,Full time Employee,Question 30 - Response 3,Answer 6,Question 30,182
9662,7940065082,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 30 - Response 3,Answer 8,Question 30,182
9663,5157705612,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,Question 30 - Response 3,Answer 6,Question 30,182